//font-all font should use white at varying opacity
$high-emphasis: rgba(255, 255, 255, .87);
$medium-emphasis: rgba(255, 255, 255, .6);
$disabled: rgba(255, 255, 255, .38);

//primary
$primary-purple: #BB86FC;

$seconday-teal: #03DAC5;
