//mixin to use for all overlay elements
@mixin overlay($opacity: .05, $border-rad: 0, $overlay-color: #FFF) {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba($color: $overlay-color, $alpha: $opacity);
    border-radius: $border-rad;
  }
}