.cube{
  width: 35px;
  height: 35px;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  // background: #fff;
  z-index: 102;
}

.game-container {
  width: calc(60% - 5rem);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  #game {
    @include overlay(.05, 10px);
    width: 701px;
    height: 701px;
    border-radius: 20px;
  }
  #board{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #board.active{
    border-top: 1px solid white;
    border-left: 1px solid white;
  }
  .game-message{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
    font-size: 32px;
    margin-top: 4rem;
    font-weight: 200;
    position: absolute;
    color: $high-emphasis;
    .game-description{
      display: flex;
      justify-content: center;
      padding: 32px;
      font-size: 22px;
      line-height: 30px;
    }
  }
  .game-message.inactive{
    display: none;
  }
  #game-textbox{
    height: 135px;
    padding: 12px 0;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    width: 701px;
    font-family: 'Source Code Pro', monospace;
    font-size: 1.125rem;
    line-height: 1.3rem;
    letter-spacing: .5px;
    font-weight: 200;
    color: $high-emphasis;
    #text-sender{
      display: inline-block;
      padding-bottom: 8px;
    }
  }
  #text-body{
    font-size: 1rem;
    line-height: 1rem;
  }
  #text-body.error {
    color: #f44336;
  }
}

#next-btn{
  background-color: inherit;
  font-family: 'Source Code Pro', monospace;
  font-size: 1rem;
  color: $high-emphasis;
  position: relative;
  left: 30%;
  top: 15px;
  border: none;
  outline: none;
  cursor: pointer;
}

#hint{
  display: none;
  z-index: 1000;
  min-width: 200px;
  max-width: 350px;
  padding: 12px;
  color: $high-emphasis;
  background-color: #121212;
  top: 380px;
  left: 225px;
  font-size: 1rem;
  line-height: 1.2rem;
  font-family: 'Source Code Pro', monospace;
  @include overlay(.14, 8px, $primary-purple);
  position: absolute;
}
#hint.active{
  display: block;
}