.cube{
  width: 28px;
  height: 28px;
}

.game-container {
  width: calc(70% - 5rem);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  #game {
    @include overlay(.05, 10px);
    width: 700px;
    height: 700px;
    border-radius: 20px;
  }
  #board{
    display: flex;
    justify-content: center;
  }
  .game-message{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
    font-size: 32px;
    margin-top: 4rem;
    font-weight: 200;
    position: absolute;
    color: $high-emphasis;
    .game-description{
      display: flex;
      justify-content: center;
      padding: 32px;
      font-size: 22px;
      line-height: 30px;
    }
  }
  .game-message.inactive{
    display: none;
  }
  #game-textbox{
    min-height: 120px;
    padding: 12px 0;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    width: 700px;
    font-family: 'Source Code Pro', monospace;
    font-size: 1.125rem;
    line-height: 1.3rem;
    letter-spacing: .5px;
    font-weight: 200;
    color: $high-emphasis;
    #text-sender{
      display: inline-block;
      padding-bottom: 8px;
    }
  }
}
