@import './variables-mixins/overlays.scss';

.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  margin-left: 5rem; //for navbar
  flex-direction: row;
}

@media screen and (max-width: 1000px){
  //resizing for smaller screens
  .game, .info{
    width: 80%;
  }
}