@import './variables-mixins/colors.scss';
.navbar{
  box-sizing: content-box;
  @include overlay(.06, 0, $primary-purple);
  background-color: #121212;
  width: 5rem;
  position: fixed;
  height: 100vh;
  color: $high-emphasis;
  transition: width 300ms ease;
  z-index: 1000;
  &:hover{
    width: 16rem;
    .link-text{
      display: block;
      color: rgba($color: #fff, $alpha: 1);
      cursor: pointer;
    }
    svg{
      cursor: pointer;
      fill: rgba($color: $primary-purple, $alpha: 1);
      filter: grayscale(0%) opacity(1);
    }
  }
  .navbar-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .nav-item{
    width: 100%;
  }
  .nav-link{
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none;
  }
  .link-text{
    display: none;
    color: rgba($color: #fff, $alpha: .4);
    transition: 600ms;
  }
  svg{
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    fill: #fff;
    min-width: 2rem;
    max-width: 2rem;
    margin: 0 1.5rem;
    transition: 600ms;
    filter: grayscale(100%) opacity(0.7);
  }
  .brand{
    // font-size: 1.8rem;
  }
}
#brand-icon{
  min-width: 3rem;
  max-width: 3rem;
  margin: 0 1rem;
}

.logo{
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.1ch;
  width: 100%;
  white-space: nowrap;
}

.logo svg{
  transform: rotate(0deg);
  transition: transform 600ms;
}

.navbar:hover .logo svg{
  transform: rotate(-180deg);
}