@import './variables-mixins/overlays.scss';
@import './variables-mixins/colors.scss';

.info-container {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include overlay(.08);
}

.text-box{
  width: 80%;
  height: 90%;
  @include overlay(.12, 8px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $high-emphasis;
  #function-header{
    padding: 16px 12px;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-weight: 400;
    font-size: 1rem;
    @include overlay-top(.1, 8px, 8px, $primary-purple)
  }
  .body{
    font-family: 'Source Code Pro', monospace; //for coding look
    @include overlay-bottom(.18, 8px, 8px);
    height: 95%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    #code-header{
      padding: 4px 16px;
    }
  }
  .CodeMirror-gutter{
    margin-right: 6px;
  }
  .CodeMirror{
    padding-top: 20px;
    z-index: 100;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: $medium-emphasis;
    font-size: .9rem;
    font-family: 'Source Code Pro', monospace;
    background-color: inherit;
  }
  #submit-code{
    position: absolute;
    border: none;
    font-family: 'Source Code Pro', monospace;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    color: $high-emphasis;
    background-color: inherit;
    z-index: 101;
    bottom: 10px;
    right: 10px;
  }
  #reset-code{
    position: absolute;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'Source Code Pro', monospace;
    font-size: 1rem;
    color: $high-emphasis;
    background-color: inherit;
    z-index: 101;
    bottom: 10px;
    right: 100px;
  }
  #error-msg{
    position: absolute;
    z-index: 101;
    color: #d82121;
    padding: 12px;
    bottom: 100px;
  }
}