@import './styles/reset.scss';
@import './styles/landing.scss';
@import './styles/navbar.scss';
@import './styles/scrollbar.scss';
@import './styles/text-box.scss';
@import './styles/game.scss';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
//code font
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

body{
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #121212; //dark theme
  overflow: hidden;
}